[run]
source =
  challenges
  data_structures
omit =
  **/__init__.py
  **/conftest.py
  **/test_*.py
  challenges/breadth_first_traversal/bst.py
  challenges/breadth_first_traversal/node.py
  challenges/breadth_first_traversal/queue.py
  challenges/fifo_animal_shelter/node.py
  challenges/fifo_animal_shelter/queue.py
  challenges/find_maximum_value_binary_tree/bst.py
  challenges/find_maximum_value_binary_tree/node.py
  challenges/find_maximum_value_binary_tree/queue.py
  challenges/fizzbuzztree/bst.py
  challenges/multi_bracket_validation/node.py
  challenges/multi_bracket_validation/stack.py
  challenges/print_level_order/k_tree.py
  challenges/print_level_order/node.py
  challenges/print_level_order/queue.py
  challenges/queue_with_stacks/node.py
  challenges/queue_with_stacks/stack.py
  challenges/towers_of_hanoi/node.py
  challenges/towers_of_hanoi/stack.py
  data_structures/binary_search_tree/node.py
  data_structures/binary_search_tree/queue.py
  data_structures/k_tree/node.py
  data_structures/k_tree/queue.py
